_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/
_2_datasets/Base_Governamental/Dados/
_2_datasets/outras_bases
_4_Etapa_ETL/agag
_6_Streamlit/.venv_steramlit/
.venv/
venv/
.vscode/
backup da 18.sql
backup da18.backup