"_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/*.csv" 
"_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/" 
"_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/" 
.venv/
venv/
.vscode
"_2_datasets\Base_Governamental\Dados"
E:\PYTHON\CURSOS\10_Digital_College\DA18\PYTHON\Projeto_Unidade_3\_4_Etapa_ETL\agag
"_6_Streamlit\.venv_steramlit"



