"_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/*.csv" 
"_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/" 
"_2_datasets/outras_bases/Base_Credit_Score_Data_Science/Dados/" 
.venv/

